.contributorForm {
  max-width: 1224px;
  margin: 250px auto 0;
}
.contributorForm__title {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.contributorForm__subtitle {
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 427px;
  margin: 25px auto 0;
  text-align: center;
}
.contributorForm__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 549px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  line-height: 60px;
  padding: 0 11px 0 24px;
  margin: 100px auto 0;
}
.contributorForm__input {
  background: #283036;
  border: 0;
  outline: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  flex-grow: 1;
  margin-right: 11px;
}
.contributorForm__button {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  background: transparent;
  border: 0;
  color: #fdf5ff;
  background: #ff6e30;
  flex-grow: 0;
  cursor: pointer;
}
