.popularToolsList {
  display: grid;
  grid-auto-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 120px 25px;
  grid-template-areas:
    ". . ."
    ". . .";
  margin: 83px 0 0 0;
}
.popularToolsList__item-block {
  margin-top: 7px;
  padding: 33px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.popularToolsList__orange-circle {
  width: 65px;
  height: 65px;
  background: rgba(255, 110, 48, 0.6);
  filter: blur(54px);
  position: absolute;
  display: none;
  right: 0;
  top: -20px;
}
.popularToolsList__item-block:hover .popularToolsList__orange-circle {
  display: block;
}
.popularToolsList__item-block:hover {
  margin-top: 0;
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  margin-bottom: 7px;
  border: 2px solid rgba(40, 48, 54, 0.6);
}
.popularToolsList__head-block {
  display: flex;
}
.popularToolsList__logo {
  width: 64px;
  height: 64px;
}
.popularToolsList__title-block {
  margin-left: 30px;
}
.popularToolsList__title {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.popularToolsList__pay-status {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
  padding: 0;
  margin: 3px 0 0 0;
}
.popularToolsList__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  padding: 0;
  margin: 30px 0 0 0;
}
.popularToolsList__use-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 40px 0 0 0;
  padding: 0 0 0 7px;
}
.popularToolsList__use-bar-left {
  display: flex;
  flex-wrap: nowrap;
}
.popularToolsList__like {
  background: url(../../images/like.svg) no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: 99999px;
  display: block;
  width: 42px;
  height: 42px;
}
.popularToolsList__item-block:hover .popularToolsList__like {
  background: url(../../images/like-active.svg) no-repeat;
}
.popularToolsList__add {
  background: url(../../images/add.svg) no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: 99999px;
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 20px;
}
.popularToolsList__item-block:hover .popularToolsList__add {
  background: url(../../images/add-active.svg) no-repeat;
}
.popularToolsList__visit {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  width: 106px;
  height: 42px;
  text-align: center;
  border-radius: 8px;
}
.popularToolsList__item-block:hover .popularToolsList__visit {
  color: #ffffff;
  background: #ff6e30;
}
.figma {
  background: url(../../images/figma.svg) no-repeat;
}
